<a href="https://colab.research.google.com/github/chum-kale/eng/blob/master/te_progsmain/DSBDA%20/asg3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.datasets import load_iris
import seaborn as sns

In [ ]:
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [ ]:
df = pd.DataFrame(iris.data , columns=iris.feature_names)
df["Label"] = iris.target

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
df.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
Label                1.000000
dtype: float64

In [ ]:
df.mode()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
0,5.0,3.0,1.4,0.2,0
1,NaN,NaN,1.5,NaN,1
2,NaN,NaN,NaN,NaN,2

In [ ]:
df.median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
Label                1.00
dtype: float64

In [ ]:
setosa = df[["sepal length (cm)", "sepal width (cm)", "petal width (cm)"]].groupby(df["petal length (cm)"])

In [ ]:
setosa.head()

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
..                 ...               ...               ...
144                6.7               3.3               2.5
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3

[123 rows x 3 columns]

In [ ]:
mean = setosa.mean()
print(mean)

                   sepal length (cm)  sepal width (cm)  petal width (cm)
petal length (cm)
1.0                         4.600000          3.600000          0.200000
1.1                         4.300000          3.000000          0.100000
1.2                         5.400000          3.600000          0.200000
1.3                         4.842857          3.228571          0.257143
1.4                         4.915385          3.353846          0.207692
1.5                         5.146154          3.569231          0.238462
1.6                         4.914286          3.342857          0.285714
1.7                         5.400000          3.600000          0.350000
1.9                         4.950000          3.600000          0.300000
3.0                         5.100000          2.500000          1.100000
3.3                         4.950000          2.350000          1.000000
3.5                         5.350000          2.300000          1.000000
3.6                         5.600000          2.900000          1.300000
3.7                         5.500000          2.400000          1.000000
3.8                         5.500000          2.400000          1.100000
3.9                         5.533333          2.633333          1.233333
4.0                         5.780000          2.480000          1.220000
4.1                         5.700000          2.833333          1.200000
4.2                         5.725000          2.900000          1.325000
4.3                         6.300000          2.900000          1.300000
4.4                         6.275000          2.750000          1.325000
4.5                         5.775000          2.875000          1.512500
4.6                         6.400000          2.900000          1.400000
4.7                         6.440000          3.060000          1.420000
4.8                         6.225000          2.950000          1.700000
4.9                         6.240000          2.820000          1.720000
5.0                         6.175000          2.550000          1.775000
5.1                         6.125000          2.875000          1.925000
5.2                         6.600000          3.000000          2.150000
5.3                         6.400000          2.950000          2.100000
5.4                         6.550000          3.250000          2.200000
5.5                         6.566667          3.033333          1.900000
5.6                         6.366667          2.933333          2.050000
5.7                         6.766667          3.266667          2.300000
5.8                         6.800000          2.833333          1.866667
5.9                         6.950000          3.100000          2.200000
6.0                         6.750000          3.250000          2.150000
6.1                         7.433333          3.133333          2.233333
6.3                         7.300000          2.900000          1.800000
6.4                         7.900000          3.800000          2.000000
6.6                         7.600000          3.000000          2.100000
6.7                         7.700000          3.300000          2.100000
6.9                         7.700000          2.600000          2.300000

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
setdosa = df[["sepal length (cm)", "sepal width (cm)", "petal width (cm)", "petal length (cm)"]].groupby(df["Label"])

In [ ]:
setdosa.describe()

      sepal length (cm)                                              \
                  count   mean       std  min    25%  50%  75%  max
Label
0                  50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1                  50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2                  50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

      sepal width (cm)         ... petal width (cm)      petal length (cm)  \
                 count   mean  ...              75%  max             count
Label                          ...
0                 50.0  3.428  ...              0.3  0.6              50.0
1                 50.0  2.770  ...              1.5  1.8              50.0
2                 50.0  2.974  ...              2.3  2.5              50.0


        mean       std  min  25%   50%    75%  max
Label
0      1.462  0.173664  1.0  1.4  1.50  1.575  1.9
1      4.260  0.469911  3.0  4.0  4.35  4.600  5.1
2      5.552  0.551895  4.5  5.1  5.55  5.875  6.9

[3 rows x 32 columns]

In [ ]:
setdosa.head()

     sepal length (cm)  sepal width (cm)  petal width (cm)  petal length (cm)
0                  5.1               3.5               0.2                1.4
1                  4.9               3.0               0.2                1.4
2                  4.7               3.2               0.2                1.3
3                  4.6               3.1               0.2                1.5
4                  5.0               3.6               0.2                1.4
50                 7.0               3.2               1.4                4.7
51                 6.4               3.2               1.5                4.5
52                 6.9               3.1               1.5                4.9
53                 5.5               2.3               1.3                4.0
54                 6.5               2.8               1.5                4.6
100                6.3               3.3               2.5                6.0
101                5.8               2.7               1.9                5.1
102                7.1               3.0               2.1                5.9
103                6.3               2.9               1.8                5.6
104                6.5               3.0               2.2                5.8

In [ ]:
sns.boxplot(x="Label", y="petal length (cm)", data=setdosa)

AttributeError: ignored